
.about-us{
    background: #282a2e;
    width: 100%;
    height: 100%;
    
}

.card-people{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 950px;
    margin: 0 auto;
   
    // @media (min-width: 860px) and (max-width: 1060px){
    //     grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

    // }
    @media (min-width: 568px) and (max-width: 1086px){
		max-width:80%;
	}

    @media (min-width: 320px) and (max-width: 568px){
		max-width:60%;
    
	}
   
}
.card-people>div{
    width: 100%;
    text-align: center;
}
.card-people>div>img{
    width: 95%;
    filter: grayscale(100%);
}

.card-people>div>img:hover{
    filter: grayscale(0%);
}


.card-people>div>p{
    width: 95%;
    color: #989899;
    margin-bottom: 50px;
    margin-top: 15px;
}

.card-people>div>h5{
    margin-top: 30px;
    @media (max-width: 568px) and (min-width: 320px)
 {
    font-size: 20px;
}
}



.card-people>div>span{
    color: #e9eaea;
    
}


.about-header {
    font-size: 36px;
    color: #f4f4f4;
    text-align: center;
    
    padding-bottom: 45px;
}



.separator__item {
    display: flex;
    margin: 0 auto;


    width:90%;
    height: 2px;
    background:#4b3f34;
}


.separator__block{
    background:#282a2e;
}
