.progress_wrapper {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;

    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 70px;
    margin-left: 130px;
    margin-right: 130px;
    padding-bottom: 50px;

    @media (min-width: 320px) and (max-width: 568px){

        margin: 50px 20px 0px 20px;
    }
}

.progres__line {
    position: relative;

    width: 100px;
    height: 50px;


    overflow: hidden;
    
}


.progres__line::before,
.progres__line::after {
  position: absolute;
}


.progres__line::before {
    content: '';
    width: inherit;
    height: inherit;
    border: 20px solid rgba(66, 66, 66, 1);;
    border-bottom: none;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;
  }



.progres__line .front {
    position: absolute;

    top: 100%;
    left: 0;
    width: inherit;
    height: inherit;

    border: 20px solid rgb(39,189,147);
    
    border-top: none;
    border-bottom-left-radius: 175px;
    border-bottom-right-radius: 175px;
    transform-origin: 50% 0;

   
    
    
}



.anim__on{
    animation-fill-mode: forwards;
    animation-duration: .7s;
    animation-delay :  1.5s;
    animation-timing-function: linear;

    
    backface-visibility: hidden;
    
}

.progress_wrapper :nth-child(1) div span   {
    animation-name: rotate-one;

}
 .progress_wrapper :nth-child(2) div span   {
    animation-name: rotate-two;
    
}
.progress_wrapper :nth-child(3) div span   {
    animation-name: rotate-thre;

}


.progress_wrapper :nth-child(4) div span   {
    animation-name: rotate-four;

}


.progress_wrapper :nth-child(5) div span   {
    animation-name: rotate-five;

}


//	12/100 * 180 = 21.6 ( проценты в градусы )


@keyframes rotate-one {
    100% {
      transform: rotate(63deg);
      
    }
  }

  @keyframes rotate-two {
    100% {
      transform: rotate(135deg);
     
    }
  }

  @keyframes rotate-thre {
    100% {
      transform: rotate(171deg);
      
    }
  }

  @keyframes rotate-four {
    100% {
      transform: rotate(79.2deg);
      
    }
  }


    @keyframes rotate-five {
        100% {
          transform: rotate(178.2deg);
          
        }
      }




.progres__percentage,
.progres__text {
    color:#fff;
    text-transform: uppercase;
}


.progresbar__container {
    position: relative;
}


.progres__percentage {
    text-align: center;
    top: 33px;
    position: absolute;
    left: 37px;
}


.progres__text{
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}

.block__ourskills {
    position: relative;
}


.progress_wrapper::after {
    content: "O • u • r • S • k • i • l • l • s";
    color: #fff;
    text-transform: uppercase;
    top: -60px;
    position: absolute;
    font-size: 20px;

    outline: 1px solid;
    padding: 1px 8px;
    
}


