.portfolio{
 height: auto;
 background: #282a2e;
 @media (min-width: 777px) and (max-width: 1124px){
	  height: auto;
}
}


.portfolio > h3{
	text-align: center;
	color: #d4d4d5;
	font-size: 36px;
	
}

#portfolio-header{
	@media (min-width: 777px) and (max-width: 1124px){
		padding-bottom: 10px ;
  }
  @media (min-width: 320px) and (max-width: 777px){
	padding-bottom: 25px;
}
}


.tabs-nav {
	display: flex;
	color: #ffffff;
	justify-content: center;
	@media (min-width: 320px) and (max-width: 568px){
		padding:0 10px;
	}
}

.tabs__item {
	padding: 0 5px;
	font-size: 14px;
	width: 105px;
	height: 30px;
	background: #313338;
	text-align: center;
	line-height: 30px;
	margin-left: 6px;
	margin-top: 20px;

	border-radius: 5px;

	color:#fff;
	
	@media (min-width: 320px) and (max-width: 568px){
		width: 25%;
		padding: 0;
		font-size: 11px;
	}


	transition:background .3s ease-in-out;
	&:hover {
		
		cursor: pointer;
	
		border-bottom: 2px solid #1f937d;
		outline-offset: -2px;
	}

}

.tabs__item.active__tabs {
		background: #1bbc9d;
		
	
		border-bottom: 2px solid #1f937d;
		outline-offset: -2px;
}

.tabs-content {
	
	display: grid;
	display: none;


	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
	
   	grid-gap: 15px;
	margin-left: 130px;	
	margin-right: 130px;
	max-width: 100%;

	color:#fff;

	justify-content: center;
	margin-top:50px;
	@media (min-width: 1320px){
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)) ;
	}
	
}

.tabs-content.active__content {
	display: grid;
}

.potrfolio-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	@media (min-width: 661px) and (max-width: 777px){
		// width:100%;

	}
}

.block-img8{
	position: relative;

	max-width: 300px;
	transition: transform 1s ease-in-out ;

	margin: 0 auto;

	@media (min-width: 538px) and (max-width: 674px){
		width: 90%;
	}
	
	&:hover {
		.box-comments {
			opacity: 0.9;
		}

		.close__content{
			display:block;

			cursor:pointer;
		}
	}
	
	transition:all 0.5s ease-in-out;
}


.hidden {
	
	display:none;
	
}

.visuallyhiden {
	opacity: 0;
}



.box-comments{
	
	color: #fff;
    width: 80%;
    height: 80%;
    text-align: center;
    position: absolute;
	background: #232323;
	border-radius: 5px;
   
	margin: auto;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	padding: 30px 0 40px 0;
	opacity: 0;
	transition-duration: .5s;
	
}


.box-comments>h6{
	font-size: 18px;
	
}

.box-comments>p{
	margin-top: 8px;
	color: rgba(196, 196, 196, 1);
	font-size: 14px;
	
}

.block-like-comments{
	display: flex;
	justify-content: space-evenly;
	margin-top: 28px;
	cursor: pointer;
}
.block-like-comments>p{
	font-size: 14px;
}
.block-like-comments>p>span{
	padding-left: 10px;
}





.play__block {
	margin-top: 30px;
	padding-bottom: 30px ;
	text-align: center;
    line-height: 1.5;

	font-size: 20px;

	
}


.label__play {
	color: #d4d4d5;
	cursor: pointer;
}

#play {
	color: #fff;
	transition: 0.5s ease-in-out;

	&:hover {
		transform:scale(1.2);
	}
}
















// .load-text{
// 	font-size: 1em;
// 	margin-top: 48px;
// 	@media (min-width: 661px) and (max-width: 777px){
		
// 	}
// }

// .arrow-portfolio > img{
// 	display: block;
// 	margin: 0 auto;
// 	margin-top: 15px;
// 	padding-bottom: 50px;
// 	cursor: pointer;
	
// }



.image{
	width: 100%;
    height: 200px;
}





.close__content {
	max-width:20px;
	position:absolute;
	top: 4px;
    right: 3px;

	display:none;
}

.close__foto {
	display:none;
}

.close__item {
	
	width: 20px;
	height: 20px;
}