.invalid {
    position: relative;
     border: 2px solid #bc1b1e; 
     border-radius: 3px;   
}

.done {
    border: 2px solid green; 
}

.span {

    padding: 10px 0;
    transition: all .30s ease-in-out;
    
}








  