@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img, audio, video {
  max-width: 100%;
  height: auto;
}

audio, canvas, iframe, video, img, svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input, textarea, select, button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

body {
  font-family: "Roboto", Arial;
}

body {
  margin: 0;
}

._header {
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1366px;
  min-width: 320px;
  margin: 0 auto;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 26px;
  margin: auto;
  margin-left: 130px;
  cursor: pointer;
}

.logo-text {
  line-height: 26px;
  margin-left: 13px;
  color: #fff;
  font-size: 24px;
}

.logo-text:hover {
  text-decoration: underline;
}

.nav-box {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-left: 245px;
  margin-right: 40px;
}

.nav-box > a {
  color: #c6c6c7;
  transition-duration: 0.3s;
  font-size: 1em;
}

.nav-box > a:hover {
  color: #799941;
}

.navbar {
  width: 100%;
  height: 115px;
  display: flex;
  justify-content: space-between;
  background-color: #282a2e;
  line-height: 115px;
  box-sizing: border-box;
}

.search-btn {
  color: #c6c6c7;
  width: 40px;
  height: 40px;
  margin-right: 130px;
}

.header-slider {
  width: 100%;
  height: 590px;
  background-image: url(../img/Layer.png);
  background-repeat: no-repeat;
  /* Firefox 3.6+ */
  /* Safari 3.1+ и Chrome 4.0+ */
  /* Opera 9.6+ */
  background-size: 100%;
  /* Современные браузеры */
  position: relative;
}

.slider-header {
  font-size: 60px;
  color: #fff;
  margin-left: 130px;
}

.slider-subheader {
  font-size: 40px;
  color: #fff;
  margin-left: 130px;
}

.our-services {
  width: 100%;
  height: auto;
  background: #282a2e;
}

.header-services {
  font-size: 36px;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

h5 {
  color: #fbfbfb;
  font-size: 24px;
  text-align: center;
}

.main-inform > div > p {
  font-size: 13px;
  color: #a5a5a5;
  text-align: center;
  margin-top: 15px;
}

.main-inform {
  display: flex;
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 40px;
  box-sizing: border-box;
}

.main-inform > div {
  padding: 0 50px;
  width: 25%;
  margin-bottom: 60px;
}

.main-inform > div > img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.separator-bg {
  width: 100%;
  height: 400px;
  background: linear-gradient(to top right, #fefcea, #060300);
  /* Firefox 3.6+ */
  /* Safari 3.1+ и Chrome 4.0+ */
  /* Opera 9.6+ */
  background-size: 100%;
  /* Современные браузеры */
  line-height: 400px;
}

.separator-bg > h1 {
  color: #e9e8e8;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

.portfolio {
  height: 780px;
  background: #282a2e;
}

.portfolio > h3 {
  text-align: center;
  padding-top: 60px;
  color: #d4d4d5;
  font-size: 36px;
}

.tabs-nav {
  display: flex;
  color: #ffffff;
  justify-content: center;
}

.tabs-nav > div {
  padding: 0 5px;
  font-size: 14px;
  width: 105px;
  height: 30px;
  background: #313338;
  text-align: center;
  line-height: 30px;
  margin-left: 6px;
  margin-top: 20px;
}

.tabs-nav > div:hover {
  background: #1bbc9d;
  cursor: pointer;
  border-bottom: 2px solid #1f937d;
  outline-offset: -2px;
}

.tabs-content {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 200px 200px;
  grid-gap: 15px;
  margin-left: 130px;
  margin-right: 130px;
  max-width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.potrfolio-img {
  height: 100%;
}

#text-load-more {
  font-size: 1em;
  margin-top: 48px;
}

.arrow-portfolio > img {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  cursor: pointer;
}